*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
header{
    flex: 1 1 10%
    
}

